body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  padding: 10px 2px 1px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 6px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 6px;
  padding: 10px 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  padding: 10px 8px 10px 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px 20px;
}
